<h1>Productos Angular</h1>
<app-navbar></app-navbar>
<section class="bloque">
  <section class="row bloqueRow">
    <h2>Webapp de productos con Angular</h2>
    <p>Gestiona tus productos con la apliacacion web SPA creada con Angular</p>
    
    <section class="botones">
      <section class="sectionBtn">
        <input type="button" value="Ver productos" class="btnUm bg-primary">
      </section>
      <section>
        <input type="button" value="Anadir productos" class="btnDois bg-success">
      </section>      
      </section>
  </section>
</section>

